# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries for Data Science
* Data Science Tools
* Simple arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Jupyter notebook
2. R
3. Python
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib
4. ploty

|Data Science Tools|
|------------------|
|My sql            |
|Apache airflow    |
|Kibana            |

### Below are a few examples of evaluating arithmetic expressions in Python ###

$ a_{n}=a_{1}+(n-1)d $

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#his will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author ##

Sachin Kumar